# Reto 2

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
data_pulsar = pd.read_csv('./data/winequality-white.csv',sep=';')

In [15]:
x= data_pulsar.iloc[:,0:11]
y= data_pulsar.iloc[:,11:12]

In [16]:
y

      quality
0           6
1           6
2           6
3           6
4           6
5           6
6           6
7           6
8           6
9           6
10          5
11          5
12          5
13          7
14          5
15          7
16          6
17          8
18          6
19          5
20          8
21          7
22          8
23          5
24          6
25          6
26          6
27          6
28          6
29          7
...       ...
4868        6
4869        6
4870        7
4871        6
4872        5
4873        6
4874        6
4875        6
4876        7
4877        5
4878        4
4879        6
4880        6
4881        6
4882        5
4883        6
4884        5
4885        6
4886        7
4887        7
4888        5
4889        6
4890        6
4891        6
4892        5
4893        6
4894        5
4895        6
4896        7
4897        6

[4898 rows x 1 columns]

In [84]:
newData= pd.concat([xTrain,yTrain], axis = 1)

In [85]:
dataTrain1= newData.sample(100)
xTrain1= dataTrain1.iloc[:,0:8]
yTrain1= dataTrain1.iloc[:,8]
dataTrain2= newData.sample(500)
xTrain2= dataTrain2.iloc[:,0:8]
yTrain2= dataTrain2.iloc[:,8]
dataTrain3= newData.sample(1000)
xTrain3= dataTrain3.iloc[:,0:8]
yTrain3= dataTrain3.iloc[:,8]
dataTrain4= newData.sample(5000)
xTrain4= dataTrain4.iloc[:,0:8]
yTrain4= dataTrain4.iloc[:,8]

In [86]:
logisticRegr1 = LogisticRegression(solver='liblinear')
logisticRegr1.fit(xTrain1, yTrain1)
logisticRegr2 = LogisticRegression(solver='liblinear')
logisticRegr2.fit(xTrain2, yTrain2)
logisticRegr3 = LogisticRegression(solver='liblinear')
logisticRegr3.fit(xTrain3, yTrain3)
logisticRegr4 = LogisticRegression(solver='liblinear')
logisticRegr4.fit(xTrain4, yTrain4)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [92]:
score1 = logisticRegr1.score(xTest, yTest)
print(score1)

0.9721448467966574

In [88]:
score2 = logisticRegr2.score(xTest, yTest)
print(score2)

0.9759432767789313

In [89]:
score3 = logisticRegr3.score(xTest, yTest)
print(score3)

0.9775892631045834

In [90]:
score4 = logisticRegr4.score(xTest, yTest)
print(score4)

0.977462648771841